<h2 mat-dialog-title>Registrazione completata</h2>
<div mat-dialog-content>
    Abbiamo inviato una email di conferma al tuo indirizzo di posta. 
    Ti preghiamo di verificare il tuo account entro e non oltre un ora. 
    In caso di scadenza del link sarai costretto a ripetere la procedura
    di registrazione. Questa operazione è necessaria affichè tu possa effettuare
    l'accesso.
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Ho capito</button>
</div>
