<div class = "btndisclaimer">
<button mat-fab color="primary" aria-label="Zoom In" (click)="zoomPlus()">
          <mat-icon>zoom_in</mat-icon>
</button>


<button  mat-fab color="primary" aria-label="Zoom Out" (click)="zoomMinus()">
          <mat-icon>zoom_out</mat-icon>
</button>

<button  mat-fab color="primary" aria-label="Exit" (click)="onNoClick()"><mat-icon>exit_to_app</mat-icon></button>

</div>

<mat-divider></mat-divider>

<div style="margin: auto; text-align: center;">
<img #input [src]="url" *ngIf="url" style="width: {{zoom}};">
</div>




