<!DOCTYPE html>
<div class="card">
   
  <img [src]="url" *ngIf="url" style="width:100%; height: auto;">
  <img *ngIf="!url" [src]="url_noimg" style="width:100%; height: auto;">
  <br>
  <button mat-button color="primary" (click)="onClick()">
      <mat-icon>file_upload</mat-icon>
      Carica immagine profilo
    </button>

    <mat-error *ngIf="uploadFail">Massima dimensione file: 10MB</mat-error>
    
    <input type="file" id="imageUpload" accept="image/*"(change)="handleImageSelect($event)" style="display:none;">
    <br><br>

    <h1>{{profile.name}} {{profile.surname}}</h1>
    <p class="title">{{profile.id}}</p>
    <p>{{profile.email}}</p>
    
</div>

