<!DOCTYPE html>
<h1>Dati personali</h1>
<img [src]="url" *ngIf="url" style="max-width: 200px; height: auto;">
<br>
<button mat-button color="primary" (click)="onClick()">
    <mat-icon>file_upload</mat-icon>
    Carica immagine profilo
  </button>
  
  <input type="file" id="imageUpload" accept="image/*"(change)="handleImageSelect($event)" style="display:none;">
  <br><br>
  <p>Nome: {{profile.name}}</p>
  <p>Cognome: {{profile.surname}}</p>
  <p>Matricola: {{profile.id}}</p>
  <p>Email: {{profile.email}}</p>
