<mat-nav-list>
    <div class="courseItem" *ngFor="let course of courses">
        <a mat-list-item
        routerLink="/teacher/{{course.name}}/students"
        routerLinkActive="active"
        (click)="this.setCurrentCourse(course)">
        {{course.name}}
        </a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="toggleCourse(course)">
                <mat-icon>{{course.enabled?'remove_circle':'check_circle'}}</mat-icon>
                <span>{{course.enabled?'Disabilita':'Abilita'}}</span>
                </button>
            <button mat-menu-item (click)="modifyCourse(course)">
            <mat-icon>create</mat-icon>
            <span>Modifica</span>
            </button>
            <button mat-menu-item (click)="deleteCourse(course)">
              <mat-icon>delete</mat-icon>
              <span>Elimina</span>
            </button>
        </mat-menu>
    </div>
    <a mat-list-item
    routerLink="/teacher"
    [queryParams]="{addCourse: true}"
    routerLinkActive="active"
    >
        <mat-icon class="addCourse">add_box</mat-icon>
        <span>Crea nuovo corso</span>
    </a>
</mat-nav-list>
