.courseItem{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.addCourse{
    margin-right: 8px;
}

.red{
    color: #c2c2c2;
    padding-right: 8px;
}

.green{
    color: #ff4081;
    padding-right: 8px;
}

.spacer{
    flex: 1 1 auto;
}