.courseItem{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.addCourse{
    margin-right: 8px;
}

.red{
    color: red;
    padding-right: 8px;
}

.green{
    color: greenyellow;
    padding-right: 8px;
}

.spacer{
    flex: 1 1 auto;
}