table {
    width: 100%;
    table-layout: fixed;
    min-width: 350px;
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.mat-form-field {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.mat-checkbox {
    margin-right: 10px;
}