<h2 mat-dialog-title>Modifica corso</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Acronimo" [formControl]="data.mcourseAcronimo" required>
    <mat-error *ngIf="data.mcourseAcronimo.invalid">{{getErrorMessageAcronimo(data.mcourseAcronimo)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Min</mat-label>
    <input matInput type="number" placeholder="1" [formControl]="data.mcourseMin" required>
    <mat-error *ngIf="data.mcourseMin.invalid">{{getErrorMessageMin(data.mcourseMin)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max</mat-label>
    <input matInput type="number" placeholder="1" [formControl]="data.mcourseMax" required>
    <mat-error *ngIf="data.mcourseMax.invalid">{{getErrorMessageMax(data.mcourseMax)}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button 
          color="primary" 
          [mat-dialog-close]="data" 
          [disabled]="data.mcourseAcronimo.invalid || data.mcourseMin.invalid || data.mcourseMax.invalid">
          Modifica
  </button>
  <button mat-raised-button (click)="onNoClick()">Annulla</button>
</div>
