<div *ngIf="!this.auth.token.group" class="container">
<h1 style:text-aligin:center> Devi prima entrare in un gruppo </h1>
</div>

<div *ngIf="this.auth.token.group" class="container">

<mat-grid-list cols="2" rowHeight="1:0.5">
      

    

    <mat-grid-tile>
    <div class = "text-inside-grid">

    <h3>Vincoli</h3>
      
      <p *ngIf="this.auth.token.group && this.auth.token.group.maxRAM == -1" >Max quantità di RAM: Non ancora settata</p>
      <p *ngIf="this.auth.token.group && this.auth.token.group.maxRAM != -1" >Max quantità di RAM: {{this.auth.token.group.maxRAM}}GB</p>

      <p *ngIf="this.auth.token.group && this.auth.token.group.maxDisk == -1">Max quantità di Disk: Non ancora settata</p>
      <p *ngIf="this.auth.token.group && this.auth.token.group.maxDisk != -1">Max quantità di Disk: {{this.auth.token.group.maxDisk}}GB</p>

      <p *ngIf="this.auth.token.group && this.auth.token.group.maxVCPU == -1">Max quantità di VCPU: Non ancora settata</p>
      <p *ngIf="this.auth.token.group && this.auth.token.group.maxVCPU != -1">Max quantità di VCPU: {{this.auth.token.group.maxVCPU}}</p>

      <p *ngIf="this.auth.token.group && this.auth.token.group.maxActiveVM == -1">Max numero di VM attive: Non ancora settata</p>
      <p *ngIf="this.auth.token.group && this.auth.token.group.maxActiveVM != -1">Max numero di VM attive: {{this.auth.token.group.maxActiveVM}}</p>

      <p *ngIf="this.auth.token.group && this.auth.token.group.maxTotVM == -1">Max numero di VM totali: Non ancora settata</p>
      <p *ngIf="this.auth.token.group && this.auth.token.group.maxTotVM != -1">Max numero di VM totali: {{this.auth.token.group.maxTotVM}}</p>
    
      <p class="error" *ngIf="course.maxActiveVM == -1 || course.maxTotVM == -1 || course.maxRAM == -1 || course.maxDisk == -1 || course.maxVirtualCPU == -1">Non è possibile creare VM prima che il docente abbia settato i vincoli sulle risorse da utilizzare</p>
    </div>
    </mat-grid-tile>

    <mat-grid-tile>

    <div class = "text-inside-grid">
      <h3>Virtual Machines</h3>
      <p *ngIf="modelVM.name != ''">Sistema Operativo: {{modelVM.name}}</p>
      <p *ngIf="modelVM.name == ''">Sistema Operativo: Non ancora settato</p>

      <p *ngIf="modelVM.version != ''">Versione: {{modelVM.version}}</p>
      <p *ngIf="modelVM.version == ''">Versione: Non ancora settata</p>
    </div>
    </mat-grid-tile>

    </mat-grid-list>
    <div *ngIf="!(course.maxActiveVM == -1 || course.maxTotVM == -1 || course.maxRAM == -1 || course.maxDisk == -1 || course.maxVirtualCPU == -1)">
    <button style="margin-bottom: 20px" mat-raised-button color="primary" (click)="newVM()">Crea VM</button>
    
  
    <h3>VM</h3>
    <div class="table-container">
        <table mat-table [dataSource]="vms" matSort>

          <ng-container matColumnDef="on">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon [class]="element.on?'green':'red'">fiber_manual_record</mat-icon>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ram">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RAM (GB)</th>
            <td mat-cell *matCellDef="let element"> {{element.ram}} </td>
          </ng-container>
    
          <ng-container matColumnDef="virtualCpu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> VCPU </th>
            <td mat-cell *matCellDef="let element"> {{element.virtualCpu}} </td>
          </ng-container>
    
          <ng-container matColumnDef="disk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Disk (GB)</th>
            <td mat-cell *matCellDef="let element"> {{element.disk}} </td>
          </ng-container>
    
          <ng-container matColumnDef="teamID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team Id </th>
            <td mat-cell *matCellDef="let element"> {{element.teamID}} </td>
          </ng-container>

          <ng-container matColumnDef="owners">
            <th mat-header-cell *matHeaderCellDef> Owners </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="showOwners(element.owners)">
                    <mat-icon>groups</mat-icon>
                </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="commands">
            <th mat-header-cell *matHeaderCellDef>Comandi</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isOwner(element)">
                    <mat-icon>more_vert</mat-icon>
                </button>
                {{!isOwner(element)?'NON SEI OWNER':''}}
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addOwner(element)">
                        <mat-icon>person_add</mat-icon>
                        <span>Aggiungi owner</span>
                    </button>
                    <button mat-menu-item *ngIf="element.on && isOwner(element)" (click)="openVM(element)">
                      <mat-icon>all_out</mat-icon>
                      <span>Visualizza</span>
                    </button>
                    <button mat-menu-item (click)="element.on?stopVM(element):startVM(element)">
                        <mat-icon>{{element.on?'pause_circle_outline':'play_circle_outline'}}</mat-icon>
                        <span>{{element.on?'Spegni':'Accendi'}}</span>
                    </button>
                    <button mat-menu-item (click)="deleteVM(element)">
                        <mat-icon>delete_outline</mat-icon>
                        <span>Elimina</span>
                    </button>
                    <button mat-menu-item *ngIf="!element.on" (click)="modifyVM(element)">
                        <mat-icon>settings</mat-icon>
                        <span>Modifica</span>
                    </button>
                </mat-menu>
          </td>
        </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="colsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: colsToDisplay;"></tr>
        </table>
    </div>
    <mat-paginator [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   showFirstLastButtons="true">
    </mat-paginator>
    </div>
    
</div>

