<div class="container">

<mat-grid-list cols="2" rowHeight="1:0.5">
      

    

    <mat-grid-tile>
    <div class = "text-inside-grid">

    <h3>Vincoli</h3>
      <p *ngIf="course.maxRAM == -1" >Max RAM: Non ancora settata</p>
      <p *ngIf="course.maxRAM != -1" >Max RAM: {{course.maxRAM}}GB</p>

      <p *ngIf="course.maxDisk == -1">Max Disk: Non ancora settata</p>
      <p *ngIf="course.maxDisk != -1">Max Disk: {{course.maxDisk}}GB</p>

      <p *ngIf="course.maxVirtualCPU == -1">Max VCPU: Non ancora settata</p>
      <p *ngIf="course.maxVirtualCPU != -1">Max VCPU: {{course.maxVirtualCPU}}GB</p>

      <p *ngIf="course.maxActiveVM == -1">Max Active VM: Non ancora settata</p>
      <p *ngIf="course.maxActiveVM != -1">Max Active VM: {{course.maxActiveVM}}</p>

      <p *ngIf="course.maxTotVM == -1">Max Tot VM: Non ancora settata</p>
      <p *ngIf="course.maxTotVM != -1">Max Tot VM: {{course.maxTotVM}}</p>

      <p class="error" *ngIf="course.maxActiveVM == -1 || course.maxTotVM == -1 || course.maxRAM == -1 || course.maxDisk == -1 || course.maxVirtualCPU == -1">Non è possibile creare VM prima che il docente abbia settato i vincoli sulle risorse da utilizzare</p>
      
      <p class="error" *ngIf="course.maxActiveVM == -1 || course.maxTotVM == -1 || course.maxRAM == -1 || course.maxDisk == -1 || course.maxVirtualCPU == -1">Modificare queste informazioni per permettere agli studenti di creare delle VM</p>
    </div>
    </mat-grid-tile>

    <mat-grid-tile>

    <div class = "text-inside-grid">
      <h3>Virtual Machines</h3>
      <p *ngIf="modelVM.name != ''">Sistema Operativo: {{modelVM.name}}</p>
      <p *ngIf="modelVM.name == ''">Sistema Operativo: Non ancora settato</p>

      <p *ngIf="modelVM.version != ''">Versione: {{modelVM.version}}</p>
      <p *ngIf="modelVM.version == ''">Versione: Non ancora settata</p>
    </div>
    </mat-grid-tile>

    </mat-grid-list>
    
    <div>
    <button style="margin-bottom: 20px" mat-raised-button color="primary" (click)="newVM()">Crea VM</button>
    
  
    <h3>VM</h3>
    <div class="table-container">
        <table mat-table [dataSource]="vms" matSort>

          <ng-container matColumnDef="on">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon [class]="element.on?'green':'red'">fiber_manual_record</mat-icon>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ram">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RAM (GB)</th>
            <td mat-cell *matCellDef="let element"> {{element.ram}} </td>
          </ng-container>
    
          <ng-container matColumnDef="virtualCpu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> VCPU </th>
            <td mat-cell *matCellDef="let element"> {{element.virtualCpu}} </td>
          </ng-container>
    
          <ng-container matColumnDef="disk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Disk (GB)</th>
            <td mat-cell *matCellDef="let element"> {{element.disk}} </td>
          </ng-container>
    
          <ng-container matColumnDef="teamID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team Id </th>
            <td mat-cell *matCellDef="let element"> {{element.teamID}} </td>
          </ng-container>

          <ng-container matColumnDef="owners">
            <th mat-header-cell *matHeaderCellDef> Owners </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="showOwners(element.owners)">
                    <mat-icon>groups</mat-icon>
                </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="commands">
            <th mat-header-cell *matHeaderCellDef>Comandi</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="element.on?stopVM(element):startVM(element)">
                    <mat-icon>{{element.on?'pause_circle_outline':'play_circle_outline'}}</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteVM(element)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
                <button *ngIf="!element.on" mat-icon-button (click)="modifyVM(element)">
                    <mat-icon>settings</mat-icon>
                </button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="colsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: colsToDisplay;"></tr>
        </table>
    </div>
    <mat-paginator [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   showFirstLastButtons="true">
    </mat-paginator>
    </div>
    
</div>

