/* You can add global styles to this file, and also import other style files */

/* GENERAL */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

#main-toolbar {
    padding: 0 8px;
}

#burger-menu {
    margin: 0 8px 0 0;
}

#title {
    font-size: 16px;
}

.spacer{
    flex: 1 1 auto;
}

/* SIDENAV LAYOUT */

mat-sidenav-container {
    margin: 8px 8px 8px 0;
    height: calc(100% - 144px);
}

#tab-container{
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}

#tab{
    max-height: calc(100% - 49px);
    overflow: auto;
}

.container-sidenav{
    width: 250px;
    text-overflow: ellipsis;
}

p.error{
    color: red;
    
}

.title {
    color: grey;
    font-size: 25px;
   }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

.close-button{
    float: right;
    top:-24px;
    right:-24px;
  }

.info {
    color: navy;
    font-size: 8pt;
  }